<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
    <title>Home</title>
</head>
<body>
<h1>
    <span th:text="#{welcome.message}" />
</h1>

<h2></h2>
<a href="/browser/index.html">The HAL Browser (for Spring Data REST)</a>

<h2>
    <span th:text="#{msg.agenda}" />
</h2>

<table>
    <thead>
        <tr>
            <th>Talk</th>
            <th>Speaker</th>
            <th>Time</th>
        </tr>
    </thead>
    <tr data-th-each="talk : ${talks}">
        <td data-th-text="${talk.name}">...</td>
        <td data-th-text="${talk.speaker.name}">...</td>
        <td data-th-text="${{talk.startTime}}">...</td>
    </tr>
</table>

<form>
    <label>Number of Talks:</label>
    <input id="numOfTalks" type="text" name="size" value="10" />
    <button onclick="generateTalks()">Generate Talks</button>
</form>

<form>
    <button onclick="deleteTalks()">Delete all talks</button>
</form>

<script language="javascript">
    function generateTalks() {
        var size = document.getElementById("numOfTalks").value;
        var xhttp = new XMLHttpRequest();
        xhttp.open("POST", "/agenda/generate?size=" + size, false);
        xhttp.setRequestHeader("Content-type", "application/json");
        xhttp.send();
        //var response = JSON.parse(xhttp.responseText);
        return false;
    }
</script>

<script language="javascript">
    function deleteTalks() {
        var xhttp = new XMLHttpRequest();
        xhttp.open("DELETE", "/agenda", false);
        xhttp.setRequestHeader("Content-type", "application/json");
        xhttp.send();
    }
</script>
</body>
</html>
