<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

    <style>
        .panel {
            margin: 10px;
        }
    </style>
</head>

<body>
<div class="container-fluid">
    <h1>
        <span th:text="#{welcome.message}" />
    </h1>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="/">
                <span th:text="#{msg.agenda}" />
            </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/manage">Manage</a>
        </li>
    </ul>

    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h5>HAL Browser</h5>
                    <a href="/browser/index.html">Open HAL Browser <br />(Spring Data REST)</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h5>Add some random talks</h5>
                    <form>
                        <label>Talks</label>
                        <input id="numOfTalks" type="text" name="size" value="10" />
                        <button onclick="generateTalks()">Generate</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h5>Clean Up</h5>
                    <form>
                        <button onclick="deleteTalks()">Delete all talks</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script language="javascript">
    function generateTalks() {
        var size = document.getElementById("numOfTalks").value;
        var xhttp = new XMLHttpRequest();
        xhttp.open("POST", "/agenda/generate?size=" + size, false);
        xhttp.setRequestHeader("Content-type", "application/json");
        xhttp.send();
        return false;
    }
</script>

<script language="javascript">
    function deleteTalks() {
        var xhttp = new XMLHttpRequest();
        xhttp.open("DELETE", "/agenda", false);
        xhttp.setRequestHeader("Content-type", "application/json");
        xhttp.send();
    }
</script>
</body>
</html>
